{% if session.admin %}

  {% include "adminHeader.html" %}
    <div class="container my-5">
        <h1>Edit Wine</h1>
        <form method="POST" action="/up">
    <input type="hidden" name="itemId" value="{{ wine['id'] }}">

    <div class="form-group">
        <label for="name">Wine Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ wine['wine_name'] }}" required>
    </div>

    <div class="form-group">
        <label for="type">Wine Type</label>
        <input type="text" class="form-control" id="type" name="wine_type" value="{{ wine['wine_type'] }}" required>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ wine['price'] }}" required>
    </div>

    <div class="form-group">
        <label for="quantity">Stock Quantity</label>
        <input type="number" class="form-control" id="quantity" name="stock" value="{{ wine['stock'] or 0 }}" required>
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" value="{{ wine['year'] }}">
    </div>



    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description">{{ wine['description'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" class="form-control" id="image" name="image" value="{{ wine['image_url'] }}">
    </div>

    <button type="submit" class="btn btn-success">Update Wine</button>
</form>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>

{% include "footer.html" %}
{% else %}
    <p>Please go to the <a href="/">index page</a>.</p>
{% endif %}
