{% if session.admin or session.manager %}
{% include "adminHeader.html" %}

<h2>Admin - Manage Users</h2>

<form method="GET" action="/adminManageUsers">
    <input type="text" name="search" placeholder="Search by ID or name" value="{{ request.args.get('search', '') }}">
    <button type="submit">Search</button>
</form>
<br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Year</th>
            <th>Gender</th>
            <th>Created At</th>
            <th>Is Blocked</th>


        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[7] }}</td>
            <td>
    <form method="POST" action="{{ url_for('block_user') }}">
      <input type="hidden" name="user_id" value="{{ user[0] }}">
      <input type="hidden" name="is_blocked" value="{{ 'false' if user[8] else 'true' }}">
      <input type="checkbox" name="block_user" onChange="this.form.submit()" {% if user[8] %}checked{% endif %}>
    {% if user[8] %}
      <span style="color: red;">Blocked</span>
    {% else %}
      <span style="color: green;">Active</span>
    {% endif %}
    </form>

  </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
<p>Please go to the <a href="/">index page</a>.</p>
{% endif %}
