    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">



<body>
    <div class="verification-box">
        <i class="fas fa-exclamation-triangle icon"></i>
        <h1>Welcome to Online Wine World</h1>
        <h2>⚠️ Warning: This website contains alcohol-related content. You must be at least 18 years old to enter. By continuing, you confirm that you are of legal drinking age. Drink responsibly.</h2>
        <form method="POST">
            <button class="btn btn-success" name="age_verified" value="yes">
                <i class="fas fa-check-circle"></i> Continue
            </button>
            <button class="btn btn-danger" name="age_verified" value="no">
                <i class="fas fa-times-circle"></i> Leave
            </button>
        </form>
    </div>
</body>

