{% if session.username %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/store-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Store</h1>
          <span class="subheading">OUR STORE</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main class="mb-4">
  <div class="container my-5">
    <h1 class="text-center">Welcome to the Wine Store</h1>
    <div class="row mt-4">
      {% if all_wines %}
        {% for wine in all_wines %}
          <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ wine.image_url }}" class="card-img-top" alt="{{ wine.wine_name }}">
              <div class="card-body text-center">
                <h5 class="card-title">{{ wine.wine_name }}</h5>
                <p class="card-text">Price: ${{ '%.2f' | format(wine.price) }}</p>
                <a href="{{ url_for('singlePage', id=wine.id) }}" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No products available.</p>
      {% endif %}
    </div>
  </div>
</main>

{% include "footer.html" %}
{% else %}
  <p>Please go to the <a href="/">index page</a>.</p>
{% endif %}
