{% if session.username %}
{% include "userHeader.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/userTips.css') }}">
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/assets/img/tips-bg.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
                 <h1>Wine Tips</h1>
              <span class="subheading">Why Wine Storage Matters</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Proper wine storage is essential for maintaining the quality and flavor of your wine collection. These expert tips will help you preserve your wines at their best.</p>

            <section class="tips-section">
              <h3>Essential Wine Storage Tips</h3>

              {% for tip in tips %}
                <div class="tip-item">
                  <div class="tip-content">
                    <img src="{{ tip.image }}" class="tip-image" alt="{{ tip.number }}">
                    <div class="tip-text">
                      <span class="tip-number">Tip {{ loop.index }}</span>
                      <h5>{{ tip.tip }}</h5>
                        <p> {{tip.text}}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}

            </section>

          </div>
        </div>
      </div>
    </main>

     {% include "userFooter.html" %}
    {% else %}
        <div class="login-section">
            <p>Please go to the <a href="/">index page</a>.</p>
        </div>
    {% endif %}
